extends ../../layout.pug

block head
    title='Bus Timings for ' + busStopName

block css
    link(rel='stylesheet' href='/static/bus/timings/stop.css')

block header
    img#bus-stop-icon(src='/static/bus/timings/bus-stop.svg')
    span#title=busStopCode + ' ' + busStopName
block content
    each service in timings.services
        div.service-container
            div(class=service.operatorCssName + ' service-number-container')
                div.service-number-inner-container
                    span.service-number=service.serviceNumber
                    span.service-variant=service.serviceVariant
            div.miniEDS
                div.edsText
                    span.towards Towards
                    a(href='/timings/' + service.routeDestination.busStopCode).destination=service.routeDestination.busStopName
            div.timingsContainer
                for bus in service.timings
                    div(class='timingContainer bus-load' + bus.load)
                        div.timeToArrival
                            if (+new Date(bus.arrivalTime) - +new Date()) < 0
                                span Arr
                            else
                                span.timeToArrMin=bus.timeToArrival.minutes
                                span.timeToArrSec=bus.timeToArrival.seconds
                        div.busType
                            span.busType=bus.type
                        div.wabStatus
                            if bus.isWAB
                                img(src='/static/bus/timings/wheelchair-bus.svg')
                            else
                                img(src='/static/bus/timings/non-wheelchair-bus.svg')
